[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0.6"
django-environ = "~=0.11.2"
psycopg2 = "~=2.9"

[dev-packages]

[requires]
python_version = "3.11"
