<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <h1>FORM</h1>
    <form method="POST">
        {% csrf_token %}
        {% for form in forms %}
            <ul>
                <li>{{ form.question_text }}</li>
                <li>
                    {{ form.answer }}
                    {{ form.answer.errors }}  # Display any errors for the answer field
                </li>
            </ul>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
